.logo-pics {
    max-width: 100px;
    max-height: 100px;
}

.me-pic {
    max-width: 65%;
}

.title-text {
    font-size: 2.5rem;
}

.intro-text, 
.about-text{
    font-size: 1.5rem;
}

.navbar-nav{
    font-size: 1.3rem;
}

.list-diamond {
    list-style: none; /* Remove the default list styling */
    padding-left: 0; /* Remove default padding */
}

.list-diamond li {
    position: relative;
    padding-left: 1.5em; /* Adjust space based on the em unit for scaling */
    margin-bottom: 0.5em; /* Space between list items, also scalable */
}

.list-diamond li::before {
    content: "\25C6"; /* Unicode for diamond shape */
    color: black; /* Blue color for the diamond */
    font-size: 1em; /* Set font size relative to the parent font size */
    position: absolute;
    left: 0;
    top: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Default color */
}

.dark-mode {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}
.contact-logos{
    background-color: transparent;
    width: 400px;
    margin: 0 auto; /* Center the div horizontally */
}

.dark-mode .carousel-control-prev-icon{
    background-color: transparent; /* Default color */
}
.dark-mode .carousel-control-next-icon {
    background-color: transparent; /* Default color */
}
.dark-mode .contact-logos{
    background-color: rgba(33,37,41,255);
}
.carousel-image {
    max-height: 400px; /* Set a smaller maximum height for the images */
    width: auto; /* Maintain the original aspect ratio of the images */
    margin: 0 auto; /* Center the images horizontally */
    object-fit: contain; /* Ensure images are fully visible, even if it means leaving space */
}


.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.resume-iframe {
    width: 100%;
    height: 100%;
    border: none;
}
